#footer{
    background-color: rgb(107, 49, 124);
    height: 250px;
    width: 100%;
    margin-top: 0px;
}
#footer ul{
    margin-left: 50px;
   
    
}
#footer ul li{
    color: #fff;
    list-style-type: none;
    padding: 10px 20px;
}
#footer li a{
    color: white ;
    text-decoration: none;
}
.icons{
   
display: block;
float: right;
margin-right: 35px;
}
.fab
{
    width: 40px;
    margin: 5px;
    font-size: 25px;
    text-align: center;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
  }
  


.fa-facebook{
    
    background: #55ACEE;
    color: white;
    
}
.fa-youtube{
    background-color: red;
    color: white;
}
.fa-github{
    background-color: white;
    color: black;
}
.fa-instagram{
    background-color: white;
}
#footer p{
    color: white;
   
    margin-top: 50px;
  margin-left: 550px;
    
}
@media(max-width: 600px)
{
    #footer {
        display: flex !important;
        flex-direction: column;
       
    }
    #footer .icons{
     margin-left: 220px !important;   
     display: block !important;
    }
}